<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="nmap" value="../../../nmap-7.01/nmap"/>
    <add key="itName" value="以太网连接" />
    <add key="iotName" value="NB-IOT连接" />
    <add key="gprsName" value="GPRS连接" />    
    <add key ="nbOpen" value="false" />
    <add key="gsOpen" value="false"/>
    <add key="nbPort" value="9000" />
    <add key="gsPort" value="9001"/>
    <add key="testIp" value="192.168.0.18" />
  </appSettings>
</configuration>